<!-- necessita di icone "../node_modules/font-awesome/css/font-awesome.css" in style previa istalazione
e ovviamente bootstrap -->


<div class="container custom-container-2">
	 <div class="no-data text-center" *ngIf="listaOggettiObservable.length == 0">
		<p>Macro Settimanali</p>
		<button class="btn btn-outline-primary" routerLink="/insert-macro">Add Macro</button>
	</div>
         <label>Filter </label>
         <input  type="text"  id="inputName" [(ngModel)]="inputName"/>
         <input type="button"  value="Apply"/>
   </div>
 <div class="col-md-10 col-md-offset-1">
	<div class="panel panel-default panel-table">
    <!-- Default panel contents -->
    <div class='panel-heading'>Product List</div>
    <div class='panel-body'>
         <table id="tabellaMacro" class="table table-striped table-bordered table-list">
            <thead>
              <th scope="col" >Id</th>
				<th data-sortable="true" scope="col">Data</th>
				<th id="Calorie" scope="col" data-toggle="tooltip" data-placement="bottom" title="Colorie medie giornaliere">Calorie</th>
				<th scope="col" >Calorie TOT</th>
				<th scope="col" >Carboidrati</th>
				<th scope="col" >Proteine</th>
				<th scope="col" >Grassi</th>
				<th scope="col" >Alcool</th>
				<th scope="col" class="align-items-center"><em class="fa fa-cog"></em></th>
            </thead>
            <tbody>
               <tr *ngFor="let macro of items">
                 	<td>{{macro.id}}</td>
					<td>{{macro.data}}</td>
					<!-- manda ad una funzione typescript in component da formattare le calorie / 7 in intero -->
					<td  data-title-tooltip="Media giornaliera">{{integerFormatter((macro.calorie_sett/7))}}</td>
					<td>{{macro.calorie_sett}}</td>
					<td>{{macro.carboidrati_sett}}</td>
					<td>{{macro.proteine_sett}}</td>
					<td>{{macro.grassi_sett}}</td>
					<td>{{macro.alcool_sett}}</td>
					<td >
						<a class="btn btn-default"><em class="fa fa-pencil"></em></a>
						<a class="btn btn-danger"><em class="fa fa-trash"></em></a>                       
					</td>
               </tr>
            </tbody>
		 </table>
		 
			<nav aria-label="...">
			<ul class="pagination">
				<!-- ex disabled -->
				<!-- prev page disattivato se prima NB nell'li non in a-->
				<li class="page-item " [ngClass]="{'disabled' : (paginaCorrente == paginaIniziale || paginaCorrente == 1)}">
					<a class="page-link" (click)="prevPage()" href="#" tabindex="-1" >Previous</a>
				</li>
				<!-- se la pagina corrente è uguale a quella che sta ciclando cambia lo stile in attivo -->
				<!-- l'ng for è un collegamento attivo cul component, al variare di array si ricrea -->
				<li class="page-item" *ngFor="let page of arrayConNumerazionePaginePerFooter" [ngClass]="{'page-item active': (paginaCorrente == page)}">
					<a (click)="setPage(page)" class="page-link" href="#">{{page}}</a>
				</li>			

				<!-- next page disattivato se già l'ultima o c'è solo una pagina o 0 NB nell'li non in a-->
				<li class="page-item" [ngClass]="{'disabled': (paginaCorrente == numeroDiPagineTotali || numeroDiPagineTotali == 0 || numeroDiPagineTotali == 1)}">
					<a class="page-link" (click)="nextPage()" href="#">Next di {{numeroDiPagineTotali}} pagine</a>
				</li>
			</ul>
			</nav>




			</div>   



